name: doc

permissions:
  contents: write

on:
  # regenerate when master branch is updated
  push:
    branches:
      - master

  # or when manually triggered from the Actions tab
  workflow_dispatch:

jobs:

  build-doc:
    name: Generation of documentation
    runs-on: ubuntu-latest

    steps:
      - name: obtain copy of repository
        uses: actions/checkout@v1

      - name: run doxygen to generate doc, outputting inside /html
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          doxyfile-path: doxyconfig/config

      - name: deploy new doc to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: Doxygen_doc/html
