# Generates API documentation using doxygen,
# and hosts it on Github using Github Pages
#
# @author Tyson Jones

name: doc


permissions:
  contents: write
  pages: write
  id-token: write


on:
  push:
    branches:
      - master
  workflow_dispatch:


# prevent concurrent generation
concurrency:
  group: "pages"
  cancel-in-progress: false


jobs:

  build-doc:
    name: Generate doc
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    env:
      doxy_file: utils/docs/Doxyfile
      doxy_out: Doxygen_doc/html
      build_dir: "build"

    steps:
      - name: Obtain copy of repository
        uses: actions/checkout@main

      - name: Install Graphviz (for circuit diagrams)
        uses: tlylt/install-graphviz@v1

      - name: Generate doc with doxygen
        uses: mattnotmitt/doxygen-action@v1.12.0
        with:
          doxyfile-path: ${{ env.doxy_file }}
          enable-latex: true

      - name: Setup Github Pages
        uses: actions/configure-pages@v5
        
      - name: Upload doc as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./${{ env.doxy_out }}
          
      - name: Deploy doc to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
