name: Ubuntu unit

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - '**'

jobs:

  build-and-test:
    name: Unit tests on Ubuntu 18.04
    runs-on: ubuntu-latest
    strategy:
      matrix:
        float-precision: [2]

    steps:
      - uses: actions/checkout@v1

      - name: make build directory
        run: mkdir build_dir

      - name: cmake configure
        run: cmake .. -DTESTING:BOOL=ON -DPRECISION:STRING=${{matrix.float-precision}}
        working-directory: build_dir

      - name: cmake build
        run: cmake --build . --parallel 2 --target tests
        working-directory: build_dir

      - name: cmake test
        run: ctest -j2 --output-on-failure -E mixMultiQubitKrausMap
        working-directory: build_dir
