name: Windows unit

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - '**'

jobs:

  build-and-test:
    name: Unit tests on Windows MSVC
    runs-on: windows-latest
    strategy:
      matrix:
        float-precision: [2]

    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1

      - name: make build directory
        shell: cmd
        run: mkdir build_dir

      - name: cmake configure
        shell: cmd
        run: cmake .. -DTESTING=ON -DPRECISION:STRING=${{matrix.float-precision}}
        working-directory: build_dir

      - name: cmake build
        run: cmake --build . --target tests
        working-directory: build_dir

      - name: cmake test
        run: ctest -j2 --output-on-failure
        working-directory: build_dir